This notebook simply cleans up the raw weather data to a format I can work with and then exports it to a csv for placement in a PostgreSQL database.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
w1 = pd.read_csv('weather1.csv')
w2 = pd.read_csv('weather2.csv')
weather = pd.concat([w1,w2])

In [3]:
weather.head()

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT01,WT02,WT03,WT04,WT05,WT06,WT07,WT08,WT09,WT10
0,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-01,2.01,NaN,0.00,0.0,3.1,12.0,18.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-02,3.36,NaN,0.00,0.0,3.1,13.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-03,3.36,NaN,0.00,0.0,2.0,17.0,25.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-04,1.12,NaN,0.02,0.1,2.0,23.0,32.0,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
4,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-05,3.58,NaN,0.11,0.1,3.1,31.0,39.0,...,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [4]:
weather.drop(['WT01','WT02','WT03','WT04','WT05','WT06','WT07','WT08','WT09','WT10','PGTM','TAVG','TOBS','SNWD','WDF2','WDF5','WSF2','WSF5'],axis=1,inplace=True)

In [5]:
weather.head()

,STATION,NAME,DATE,AWND,PRCP,SNOW,TMAX,TMIN
0,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-01,2.01,0.00,0.0,18.0,6.0
1,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-02,3.36,0.00,0.0,20.0,8.0
2,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-03,3.36,0.00,0.0,25.0,12.0
3,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-04,1.12,0.02,0.1,32.0,19.0
4,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-05,3.58,0.11,0.1,39.0,29.0

In [6]:
weather['airport_code'] = weather.NAME.map({'BOISE AIR TERMINAL, ID US': 'BOI',
'BOZEMAN GALLATIN FIELD AIRPORT, MT US': 'BZN',
'TUCSON INTERNATIONAL AIRPORT, AZ US': 'TUS',
'BANGOR INTERNATIONAL AIRPORT, ME US': 'BRG',
'MCCARRAN INTERNATIONAL AIRPORT, NV US': 'LAS',
'LAGUARDIA AIRPORT, NY US': 'LGA',
'BUFFALO NIAGARA INTERNATIONAL, NY US': 'BUF',
'NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US': 'EWR',
'DES MOINES INTERNATIONAL AIRPORT, IA US': 'DSM',
'OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US': 'OKC',
'JACKSONVILLE INTERNATIONAL AIRPORT, FL US': 'JAX',
'KANSAS CITY INTERNATIONAL AIRPORT, MO US': 'MCI',
'SACRAMENTO METROPOLITAN AIRPORT, CA US': 'SMF',
'LOUISVILLE INTERNATIONAL AIRPORT, KY US': 'SDF',
'OAKLAND MUSEUM, CA US': 'OAK',
'LOS ANGELES INTERNATIONAL AIRPORT, CA US': 'LAX',
'MIAMI INTERNATIONAL AIRPORT, FL US': 'MIA',
'NEW ORLEANS AIRPORT, LA US': 'MSY',
'ALBUQUERQUE INTERNATIONAL AIRPORT, NM US': 'ABQ',
'TULSA INTERNATIONAL AIRPORT, OK US': 'TUL',
'KAILUA KONA KE AHOLE AIRPORT, HI US': 'KOA',
'PORTLAND INTERNATIONAL AIRPORT, OR US': 'PDX',
'BOSTON, MA US': 'BOS',
'CHICAGO MIDWAY AIRPORT, IL US': 'MDW',
'HONOLULU INTERNATIONAL AIRPORT, HI US': 'HNL',
'CINCINNATI NORTHERN KENTUCKY INTERNATIONAL AIRPORT, KY US': 'CVG',
'MEMPHIS INTERNATIONAL AIRPORT, TN US': 'MEM',
'CLEVELAND HOPKINS INTERNATIONAL AIRPORT, OH US': 'CLE',
'OMAHA EPPLEY AIRFIELD, NE US': 'OMA',
'JOHN GLENN INTERNATIONAL AIRPORT, OH US': 'CMH',
'INDIANAPOLIS INTERNATIONAL AIRPORT, IN US': 'IND',
'HILO INTERNATIONAL AIRPORT 87, HI US': 'ITO',
'JUNEAU AIRPORT, AK US': 'JNU',
'ATLANTIC CITY INTERNATIONAL AIRPORT, NJ US': 'ACY',
'WEST PALM BEACH INTERNATIONAL AIRPORT, FL US': 'PBI',
'SAN ANTONIO INTERNATIONAL AIRPORT, TX US': 'SAT',
'TAMPA INTERNATIONAL AIRPORT, FL US': 'TPA',
'NASHVILLE INTERNATIONAL AIRPORT, TN US': 'BNA',
'PITTSBURGH ASOS, PA US': 'PIT',
'JFK INTERNATIONAL AIRPORT, NY US': 'JFK',
'HOUSTON INTERCONTINENTAL AIRPORT, TX US': 'HOU',
'SEATTLE TACOMA AIRPORT, WA US': 'SEA',
'MISSOULA INTERNATIONAL AIRPORT, MT US': 'MSO',
'SAN DIEGO INTERNATIONAL AIRPORT, CA US': 'SAN',
'BILLINGS INTERNATIONAL AIRPORT, MT US': 'BIL',
'DENVER INTERNATIONAL AIRPORT, CO US': 'DEN',
'PHILADELPHIA INTERNATIONAL AIRPORT, PA US': 'PHL',
'PHOENIX AIRPORT, AZ US': 'PHX',
'TALLAHASSEE REGIONAL AIRPORT, FL US': 'TLH',
'DAL FTW WSCMO AIRPORT, TX US': 'DFW',
'BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US': 'BWI',
'WASHINGTON REAGAN NATIONAL AIRPORT, VA US': 'DCA',
'ORLANDO INTERNATIONAL AIRPORT, FL US': 'MCO',
'SALT LAKE CITY INTERNATIONAL AIRPORT, UT US': 'SLC',
'ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPORT, GA US': 'ATL',
'DETROIT METRO AIRPORT, MI US': 'DTW',
'ST LOUIS LAMBERT INTERNATIONAL AIRPORT, MO US': 'STL',
'CHICAGO OHARE INTERNATIONAL AIRPORT, IL US': 'ORD',
'MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US': 'MSP',
'SAN FRANCISCO INTERNATIONAL AIRPORT, CA US': 'SFO'})

In [7]:
weather.airport_code.unique()

array(['BOI', 'BZN', 'TUS', 'BRG', 'LAS', 'LGA', 'BUF', 'EWR', 'DSM',
       'OKC', 'JAX', 'MCI', 'SMF', 'SDF', 'OAK', 'LAX', 'MIA', 'MSY',
       'ABQ', 'TUL', 'KOA', 'PDX', 'BOS', 'MDW', 'HNL', 'CVG', 'MEM',
       'CLE', 'OMA', 'CMH', 'IND', 'ITO', 'JNU', 'ACY', 'PBI', 'SAT',
       'TPA', 'BNA', 'PIT', 'JFK', 'HOU', 'SEA', 'MSO', 'SAN', 'BIL',
       'DEN', 'PHL', 'PHX', 'TLH', 'DFW', 'BWI', 'DCA', 'MCO', 'SLC',
       'ATL', 'DTW', 'STL', 'ORD', 'MSP', 'SFO'], dtype=object)

In [8]:
weather.head()

,STATION,NAME,DATE,AWND,PRCP,SNOW,TMAX,TMIN,airport_code
0,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-01,2.01,0.00,0.0,18.0,6.0,BOI
1,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-02,3.36,0.00,0.0,20.0,8.0,BOI
2,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-03,3.36,0.00,0.0,25.0,12.0,BOI
3,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-04,1.12,0.02,0.1,32.0,19.0,BOI
4,USW00024131,"BOISE AIR TERMINAL, ID US",2015-01-05,3.58,0.11,0.1,39.0,29.0,BOI

In [21]:
weather.to_csv('weather_table.csv',index=False)